.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #030E87; /* 예시 색상 */
  color: white;
  border-radius: 8px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.settings-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
